
nav{
  position: absolute;
  background-color: #edb953;
  z-index: 1;
}
.header {
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #edb953;/* Change this to your desired background color */
  z-index: 2;
} 
