
nav {
  position: relative; 
  background-color: #edb953;

}

.header {
  background-color: #edb953;
  justify-content: center;
  align-items: center;
 } 


.nameAndavatar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nameAndavatar img {
  width: 15%; 
  height: 15%; 
  border-radius: 50%; 
  margin-bottom: 10px; 
}
