
nav {
height: 120px;
width: 100%;
background-color: #4056A1;
color: #FFFFFF;
padding-left: 1.5em;
padding-right: 1.5em;
position: fixed
}
nav span{
  font-family: "Bungee";
}
.tweetText{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
  margin-top: 2px;
}
.double-down-angle{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0;
}