/* 120 pixels in height
Full width of the viewport
#4056A1 as its default background colour
#FFFFFF as its default font colour
<span> within the <nav> uses Bungee as its default font-family
1.5ems of space on the right and left between the content and the edges */
nav {
height: 120px;
width: 100%;
background-color: #4056A1;
color: #FFFFFF;
padding-left: 1.5em;
padding-right: 1.5em;
position: fixed
}
nav span{
  font-family: "Bungee";
}
.tweetText{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
  margin-top: 2px;
}
.double-down-angle{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0;
}